body  {
    background: white url('http://planete.mozfr.org/custom/style/img/bg_body_0.jpg') no-repeat scroll left top;
    font-family: Verdana, sans-serif;
    font-size:14px;
    margin:0;
}

h2, h3 {
    color:#B72822;
    font-family: Georgia, Times, serif;
}

h2 {
    font-size:30px;
}


h3 {
    font-size:20px;
}


#contenant {
    margin:auto;
}

#page {
    margin: 45px 30px 0 95px;
    position: relative;
}

#page #header {
  min-height:81px;
  border-bottom:7px solid #B72822;
  margin-top:10px;
}

#page #header #top {
  min-height:53px;
  line-height:53px;
  padding-left:25px;
  font-size: 35px;
  
}


h1#top {
    text-shadow: 1px 1px 10px rgba(50,100,255,0.2);
    color: rgba(255,255,255,0.7);
    background-color: black;
}

h1#top, #footer, #top_menu {
    margin: 0;
}


#footer {
    height: 100px;
    border-top: 7px solid #B72822;
    margin-top: 50px;
    padding: 30px 10px 0px 10px;
    background: black url("/img/logo-mc.png") no-repeat scroll right 10px;
    font-size:0.8em;
}

#footer p {
    color: rgba(255,255,255,0.6);
}

#footer p a {
    color: orange;
}

#top_menu {
    padding:0;
}

#top_menu li {
    margin:0;
    padding:5px 0;
    width:20%;
    float:left;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.7);
    text-align:center;
}

#top_menu a {
    display:block;
    color:white;
    width:100%;
}

#top_menu li:hover {
    color:white;
    background-color: rgba(0, 0, 0, 0.5);
}

div#message {
   height:200px;
}

div#message h2, div#message h3 {
    margin:0;
    font-weight:normal;
}

div#contenu {
    margin:auto;
    background: -moz-linear-gradient(center top , white 0%, #EAEAEA 100%) repeat scroll 0 0 transparent;
}

#page #content {
    position:relative;
    margin-right:240px;
    padding: 10px;
    margin-top:30px;
    background: -moz-linear-gradient(top, white 0%, #eaeaea 100%);
    border-bottom: 3px solid #B72822;
    border-top:    4px solid #B72822;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px gray;
}

#page #sidebar {
    background: none repeat scroll 0 0 white;
    border-bottom: 3px solid #B72822;
    border-radius: 10px 10px 10px 10px;
    border-top: 4px solid #B72822;
    box-shadow: 0 1px 10px 1px gray;
    font-size: 80%;
    padding: 10px 5px 10px 10px;
    position: absolute;
    right: 10px;
    top: 117px;
    width: 200px;
}


#page #content,
#page #sidebar {
    min-height: 600px;
}

div.boite {
    border-radius:3px 3px 3px 3px;
    box-shadow:0 1px 5px #888888;
    background:none repeat scroll 0 0 white;
    border-bottom:3px solid #6EAEC7;
    border-top:4px solid #6EAEC7;
    opacity:0.8;
    padding:10px 5px 10px 10px;
    width:40%;
    margin-right:5%;
    float:left;
    position:relative;
    min-height:320px;
}

div.boite:hover {
    opacity:1;
}

div.last {
    margin-right:0;
}

hr.clear {
    clear:both;
    visibility:hidden;
    border:none;
    height:0;
    line-height:0;
}

p {
    color:black;
}

p.lien {
    text-align:center;
}

a {
    text-decoration:none;
}

p.desc {
    padding:0 10px;
}

p.desc a {
    color:black;
    display:block;
}


p#contact {
    width:700px;
    text-align:right;
}

p#contact img {
    display:none;
}

#home  #lien1,
#manifesto #lien5 {
    background-color: rgba(155, 155, 155, 0.8);
}

#home  #lien1 a,
#manifesto #lien5 a {
    color: rgb(30,30,30);
}


ul#products,
ul#tweets {
    list-style-type:none;
    margin-left:0;
    padding-left:0;
}

ul#tweets li {
    margin:5px 0;
    padding-top:5px;
    border-top: 1px solid rgba(0,0,0,0.2);
}

ul#products li#firefox,
ul#products li#thunderbird {
    font-size: 18px;
    line-height: 60px;
    margin: 0;
    min-height: 60px;
    padding-left: 67px;
    vertical-align: middle;
    margin-top:5px;
}

ul#products li#firefox {
    background: url("/img/logo-ff") no-repeat scroll left top transparent;
}

ul#products li#thunderbird {
    background: url("/img/logo-tb") no-repeat scroll left top transparent;
}

ul#products a {
    color:black;
    font-weight: normal;
}
