        </div> <!-- #content -->
        
<div class="aside" id="sidebar">
    <div class="section" id="sidebar-people">
        <h3>Blogs Mozilla</h3>
        <ul>
            <li><a href="http://blog.geekshadow.com">Antoine TURMEL</a></li>
            <li><a href="http://apperisphere.com">Appèrisphère</a></li>
            <li><a href="http://www.befox.be">BeFox</a></li>
            <li><a href="http://blogzinet.free.fr/blog/">BlogZiNet</a></li>
            <li><a href="http://bonjourmozilla.fr/">Bonjour Mozilla</a></li>
            <li><a href="http://www.chevrel.org/fr/carnet/index.php">Carnet Web de Pascal</a></li>
            <li><a href="http://www.clochix.net/">Clochix</a></li>
            <li><a href="http://www.nouslesgeeks.fr">Florian Lainez</a></li>
            <li><a href="http://www.framablog.org/index.php/">Framablog - Mozilla</a></li>
            <li><a href="http://www.frenchbirds.org">FrenchBirds</a></li>
            <li><a href="http://blog.frenchmozilla.fr/index/">FrenchMozilla</a></li>
            <li><a href="http://www.geckozone.org">Geckozone</a></li>
            <li><a href="http://hanblog.info/blog/">Hanblog</a></li>
            <li><a href="http://dutherenverseauborddelatable.wordpress.com">Il y a du thé renversé au bord de la table</a></li>
            <li><a href="http://artis-tic.com/blog/index.php">Itinéraire Libre</a></li>
            <li><a href="http://joliclic.free.fr/blog/index.php">Joliclic blog</a></li>
            <li><a href="http://ljouanneau.com/blog/">Jy[B]log</a></li>
            <li><a href="http://kazhack.org/">Kaz'hack</a></li>
            <li><a href="http://lagonlibre.net/">Lagon Libre</a></li>
            <li><a href="http://genma.free.fr/">Le Blog de Genma</a></li>
            <li><a href="http://blog.mmkmou.net/index.php">Le blog de mmkmou - Mozilla</a></li>
            <li><a href="http://blog.lebedel.net/index.php">Le Delphinarium</a></li>
            <li><a href="http://frederic.bezies.free.fr/blog">Le Weblog de Frederic Bezies</a></li>
            <li><a href="http://blog.oldworld.fr/index.php">Mounir Lamouri</a></li>
            <li><a href="http://mozilla-algeria.org">Mozilla Algérie</a></li>
            <li><a href="http://mozilla-tunisia.org/">Mozilla Tunisie</a></li>
            <li><a href="http://xulfr.org/news/">News Xulfr</a></li>
            <li><a href="http://akasonny.net">Sonny Piers</a></li>
            <li><a href="http://standblog.org/blog/">Standblog</a></li>
            <li><a href="http://www.julia.buchner.fr">Sur la route de la Geek </a></li>
            <li><a href="http://tb4.fr/blog/">Thomas Bassetto</a></li>
            <li><a href="http://www.ze-technology.com">Ze Technology</a></li>
        </ul>

    </div>




</div>
        <div id="footer">
            <p>
                Sauf mention contraire, le site est placé sous licence <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons paternité partage à l’identique</a>.
            <br/>
                Ce site est maintenu par des bénévoles et n'est pas un site officiel de la <a href="http://www.mozilla.org/">fondation Mozilla</a>.
            </p>
        </div>
        
    </div> <!-- #page -->
</div> <!-- #contenant -->

</body>
</html>
