        </div> <!-- #content -->
        
<div class="aside" id="sidebar">
    <div class="section" id="sidebar-people">
        <?=getTweets('mozilla_fr', 5)?>
        <h3>Téléchargements</h3>
        <ul id="products">
            <li id="firefox"><a href="http://www.mozilla.org/fr/firefox/?from=mozfr">Firefox</a></li>
            <li id="thunderbird"><a href="http://www.mozilla.org/fr/thunderbird/?from=mozfr">Thunderbird</a></li>
        </ul>

    </div>




</div>
        <div id="footer">
            <p>
                Sauf mention contraire, le site est placé sous licence <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons paternité partage à l’identique</a>.
            <br/>
                Ce site est maintenu par des bénévoles et n'est pas un site officiel de la <a href="http://www.mozilla.org/">fondation Mozilla</a>.
            </p>
        </div>
        
    </div> <!-- #page -->
</div> <!-- #contenant -->

</body>
</html>
